<!DOCTYPE html>
<html>
  <head>
    <title>NewRateBeer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


  </head>

  <body>
    <% if current_user %>
    <p><%= current_user.username %> signed in</p>

      <ul>
        <%=link_to "breweries", breweries_path %>
        <%=link_to "beers", beers_path %>
        <%= link_to "ratings", ratings_path %>
        <%= link_to "users", users_path %>
        <%= link_to current_user.username, current_user%>
        <%= link_to "Rate a new beer", new_rating_path %>
        <%= link_to "sign out", sign_out_path%>
      </ul>




    <%else %>

      <ul>
        <%=link_to "breweries", breweries_path %>
        <%=link_to "beers", beers_path %>
        <%= link_to "ratings", ratings_path %>
        <%= link_to "users", users_path %>
        <%= link_to "sign-up", sign_up_path %>
        <%= link_to "sign-in", sign_in_path %>
      </ul>


  <% end %>

    <%= yield %>
  </body>
</html>
